.custom_drawer {

  >div[role="document"] {
    width: 360px;
    min-width: 360px;
  }

  >div:first-of-type {
    background: rgba(0,0,0,0);
  }

  >div:last-of-type {
    margin-top: $header-height;
  }

  div.drawer_container  {
    height: calc(100% - #{$header-height});
    overflow: hidden;
  }
}

.drawer_label {
  @include withAnimation(color);

  [class^="icon-"], [class*=" icon-"] {
    @include withAnimation(transform);
  }

  &:focus, &:hover {

    .loading_button_content {
      color: inherit;
    }
  }

  &:hover, &.toggled {
    color: #000;

    [class^="icon-"], [class*=" icon-"] {
      transform: scale(1.1);
    }
  }
}

