.infinityList {
  overflow-x: hidden !important;
}

.list_footer {
  padding-top: 18px;
  background: #dcdcdc;

  > div {
    background: white;
    box-shadow: $thumbnail-box-shadow;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.empty_list_data {
  width: 100%;
  align-self: center;
  height: 100%;

  .empty_list_data_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #616161;

    >i::before {
      font-size: 40px;
      line-height: 40px;
    }
  }
}
