.loading_button {

  > span:first-of-type {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .loading_button_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &:hover {

    .loading_button_content {
      color: #fff;
    }
  }

  &:disabled {

    .loading_indicator {
      opacity: 1;
    }

    .loading_button_content {
      opacity: 0;
    }

    &.hide_loading {

      .loading_indicator {
        opacity: 0;
      }

      .loading_button_content {
        opacity: 1;
      }
    }
  }

  .loading_button_content {
    transition: opacity 300ms ease-in-out;
  }

  &.loading .loading_indicator{
    opacity: 1;
  }

  .loading_indicator {
    position: absolute;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
}
