// NOTE: the order of these styles DO matter

// Will edit everything selected including everything between a range of dates

.CalendarDay__selected_span {
  background: #82e0aa; //background
  color: white; //text
}

// Will edit selected date or the endpoints of a range of dates

.CalendarDay__selected {
  color: white;
}

// Will edit when hovered over. _span style also has this property

.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

.DayPickerNavigation__horizontal {
  display: flex;
  justify-content: space-between;

  > div {
    padding: 10px 10px;
  }
}
