div.custom_tree {
  box-shadow: none;
  margin: 0;
  border-radius: 0 !important;

  &::before {
    content: none !important;
  }

  &.active {

    .tree_title  > div[role="button"]{
      transform: rotate(180deg)
    }
  }

  &.disabled {
    background: transparent;

    .tree_title  > div[role="button"]{
      display: none;
    }
  }

  .tree_title {
    padding: 0 16px;
    margin: 0;
    border: 0;
    opacity: 1;
    min-height: unset;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div[role="button"] {
      position: relative;
      transform: none;
      color: $font;
      font-size: 24px;
      align-self: stretch;
      padding: 0 12px;
    }

    > div {
      margin: 0;
    }

    .sidebar_title {
      margin-bottom: 0;
      padding-right: 0;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      padding-top: 14px;
      padding-bottom: 14px;

      &.active {
        color: $font;
        font-weight: bold;

        .sidebar_title_divider {
          display: block;
        }
      }
    }

    .sidebar_title_divider {
      top: 0;
      left: 0;
      bottom: 0;
      width: 3px;
      position: absolute;
      display: none;
    }
  }

  .title_wrapper  {
    padding: 0;
  }

  .tree_data {
    padding: 0;
    flex-direction: column;

    .sidebar_title {
      color: $gray-400;
    }
  }
}
