.cognito_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(50, 54, 57,0.9);
  height: 100%;

  .redirect_info {
    animation-duration: 2s;
  }
}

.redirect_to_cognito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  i {
    margin: 0 36px;
  }

  .to {
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
    align-self: stretch;
  }

  > .to div{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    align-self: stretch;
    position: relative;
    overflow: hidden;
    animation-name: cognitoLogin;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
  }

  .small_logo {
    animation-duration: 1s;
  }
}

.small_logo {
  width: 56px;
  max-width: 56px;
  min-width: 56px;
  height: 56px;
  background-image: url('../img/Invotra-labs-symbol.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.big_logo {
  width: 320px;
  height: 60px;
  background-image: url('../img/app-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cognito_logo {
  width: 56px;
  min-width: 56px;
  max-width: 56px;
  height: 56px;
  background-image: url('../img/aws-cognito.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.redirect_info {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 24px;
  color: #fff;
}

.login_with_cognito_link {
  color: #fff;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    color: #fff;
  }
  opacity: 0;

  &.active {
    animation-name: tryAgain;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}

@keyframes cognitoLogin {

  from {
    width: 0;
    transform: translateX(-100%)
  }

  50% {
    width: 152px;
    transform: translateX(-100%)
  }

  to {
    width: 152px;
    transform: translateX(0%)
  }
}

@keyframes tryAgain {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
