@keyframes pulse {

  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes zoomIn {

  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes lookAtThis {

  from {
    transform: translateX(-4px) scale(0.9);
  }

  50% {
    transform: translateX(4px) scale(1.1);
  }

  to {
    transform: translateX(-4px) scale(0.9);
  }
}

.zoomIn {
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.hover_shadow_animation {
  box-shadow: $box-shadow;
  @include withAnimation(transform, box-shadow);

  &:hover {
    box-shadow: $box-shadow-on-hover;
  }
}

.look_at_this {
  animation-name: lookAtThis;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.infinity_animations {
  animation-iteration-count: infinite;
}

