.empty_select_data {
  color: $gray-600;
  font-weight: 500;
}

.autocomplete_input {

  & > div > div {
    display: flex;
    padding: 0;
    height: auto;
  }
}

.autocomplete_input_placeholder {
  @include withAnimation(opacity, transform);
  position: absolute;
  left: 2px;
  bottom: 8px;
  font-size: 16px;
  margin: 0;
  color: $gray-600;
  font-weight: 400;

  &.hidden {
    opacity: 0;
    transform: scale(0);
  }
}

.autocoplete-menu {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin-top: 0;
}

.autocoplete_values_container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  overflow: hidden;
}

.autocoplete_singleValue {
  font-size: 16px;
}

.autocoplete_chip {
  margin: 0 3px 5px 0;

  &.active {
    background: $gray-600;
  }

  .icon-clear {
    padding: 4px;
    border-radius: 50%;
    @include withAnimation(background, color);
  }

  &:hover {

    .icon-clear {
      background: $gray-600;
      color: #fff;
    }
  }
}

.autocoplete_dropdown {
  @include withAnimation(transform);
  padding: 6px !important;

  &.active {
    transform: rotate(180deg)
  }
}

.autocoplete_clear {
  padding: 6px !important;
}
