@import 'fileUpload';
@import 'autocomplete';

.input_helper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  .restr {
    margin-left: auto;
  }
}

.field_error {
  color: $red;
  display: block;
  margin-top: 5px;
}

.input-custom-password-button {
  padding: 4px !important;
}

.form-controll-label {
  color: $gray-600 !important;
  font-size: 14px;
  margin: 0;
  display: block;
}

.color_picker_wrapper {
  position: relative;

  .pickers_modal {
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    z-index: 100;
  }
}

.color_picker_button {
  flex-grow: 0;
  align-self: flex-start;

  > span:first-of-type {
    display: flex;
    flex: 1;
    align-self: stretch;
    align-items: flex-start;
  }

  .color_value {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #000;
    margin-right: 6px;
  }
}

.react-phone-number-input {

  > div {
    position: relative;

    .phone_input_component {
      position: static;
    }
  }

  .react-phone-number-input__icon {
    border: 0;
    height: unset;

    img {
      border: 1px solid $gray-200;
    }
  }
}

.date_picker {
  position: relative;

  .CalendarMonth_caption {

    strong {
      font-weight: 300;
      color: $font;
      text-transform: uppercase;
    }
  }

  .callendarModal {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    background-color: #fff;
  }

  .CalendarDay {
    border: 0;
    width: 39px;
    height: 38px;

    &:hover {
      background: #fff;
    }

    button {
      font-size: 12px;
      padding: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
}

.range_inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  > i {
    padding: 0 16px;
  }
}

label.currencyLabel {
  margin-left: 20px;
  @include withAnimation(color, transform, margin-left)
  &.focused {
    margin-left: 0;
  }
}


div.form-group {
  margin-bottom: 24px;
}

.form-group .switch-input {
  justify-content: flex-end;
  margin: 8px 0 0 0;
}
