.session-layout {
  display: flex;
  flex: 1;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  max-width: 100%;
  min-height: 100%;
}

.auth-form {
  @include media-breakpoint-down(sm) {
    border-radius: 0;
    box-shadow: none;
  }
  margin: 32px 0;
  padding: 32px;
  border-radius: 1em;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  max-width: 100%;
}

.singin {
  width: 400px;
  display: flex;
  flex-direction: column;

  > h2 {
    margin-bottom: 32px;
  }

  .form-controls {
    align-self: stretch;

    .form-group {
      width: 100%;
      margin-bottom: 20px;
    }

    .loading_button {
      width: 100%;
    }

    .loading_button:last-of-type {
      margin-bottom: 20px;
    }
  }

  .arrow_button {

    &:hover, &:active {
      color: #fff;
    }
  }

  .site_logo {
    margin-bottom: 25px;
    @include media-breakpoint-down(sm) {
      max-width: 200px;
    }
  }
}
